html{
    background: $bgColor;
}

p{
    color: $textColor;
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    font-style: italic;
}

h3{
    font-size: 18px;
    margin: 20px 0px 20px 0px;
}

table{
    width: 100%;
    border-collapse: collapse;  
    color: black;
    border-spacing: 0;
    padding-right: 10px;
}
th{
    width: 100%;
    padding: 10px;
    cursor: pointer;
    text-align: center;
    border: 2px solid $menuItemColor;
    background: #92a9ce;
}
td{
    width: 100%;
    text-align: left;
    border: 1px solid $menuItemColor;
    font-size: 16x;
    padding: 15px;
}
tr{
    background: #d2ddef;
}

tr:nth-child(even){
    background-color: aquamarine;
}

label{
    color:#2196F3;
}

button,
input[type="submit"]{
    background: $submitColor;
    font-size: 20px;
    margin-top: 10px;
    padding: 15px;
    width: 200px;
    border: 1px solid $submitBorderColor;
    
    &:hover{
        cursor: pointer;
        background: lighten($submitColor, 8%);
        box-shadow: 2px 0px 2px 0px darken($submitColor, 60%);
    }
}

input[type="search"],
input[type="text"], 
input[type="number"]{
    color: $textColor;
    width: 200px;
    margin: 10px;
    padding: 10px;
}

#content{
    color: $textColor;
    margin: 0 auto;
    padding-bottom: 50px;
    max-width: 800px;
    
    #nav-menu{
        font-size: 20px;
        
        details{
            h3{
                text-align: center;
            }
            
            summary{
                cursor: pointer;
                background: $menuItemColor;
                margin: 6px 0px 8px 0px;
                padding: 15px;
                box-shadow: 3px 0px 3px 0px darken($hoverColor, 80%);
                
                &:hover{
                    background: $hoverColor; 
                    color: darken($textColor, 80%);
                }
                            
                &::-webkit-details-marker { 
                    display: none;
                }
            }
            
            #add-data{
                text-align: center;
                margin-bottom: 30px;
                
                .add-data-inputs{
                    display: flex;
                    flex-flow: wrap;
                    justify-content: center;
                }
            }
            
            #del-data{
                display: flex;
                flex-flow: wrap;
                justify-content: center;
                margin-bottom: 30px;
                
                div{
                    text-align: center;    
                }    
            }
            
            #upd-data{
                text-align: center;
                margin-bottom: 30px;
                 
                .upd-data-field{
                    margin-top: 15px;
                    display: flex;
                    flex-flow: wrap;
                    justify-content: center;
                }
            }
            
            #search{
                text-align: center;
                margin: 10px;
                
                input{
                    margin: 0;
                }
                
                button {
                    margin-left: -6px;
                    width: 150px;
                    font-size: 15px;
                    padding: 10px;
                    color: white;
                    border-left: none;
                }
            }
            
            #search-tbl-div{
                margin-bottom: 30px;    
            }
            
            .bar{
                margin: 20px;
                text-align: center;
                color: $textColor;
                background-color: $menuItemColor;
                border: 1px solid darken($menuItemColor, 20%);
            }
            
        }
    } 
}
