body {
  margin: 0;
  padding: 10px;
  font-family: sans-serif;
}

#menu > p{
  text-align: center;
  font-size: 30px;
}

#main{
  padding: 20px;
}

/*
matrices
*/
#matrix-container{
  text-align: center;
  display: flex;
  margin: 5px;
}
/*
#result-container{
  text-align: center;
}
*/

#matrix-container input,
#vector-container input,
#result-container input{
  font-size: 14px;
  width: 70px;
  height: 20px;
  margin: 3px;
}

#hr{
  margin: 20px;
}

/**
  Expression calulator
*/
input{
  padding: 10px;
}

button[type='submit']{
  background: red;
  cursor: pointer;
  padding: 10px;
  color: white;
  border: 2px solid red;
}

#result-container > div > button{
    margin-left: 10px;
    background: red;
    cursor: pointer;
    padding: 3px;
    color: white;
    border: 2px solid red;
}

button[type='submit']:hover{

}