html {
  background: #eaeef2;
}

p {
  color: #333;
  text-align: center;
  font-size: 50px;
  font-weight: bold;
  font-style: italic;
}

h3 {
  font-size: 18px;
  margin: 20px 0px 20px 0px;
}

table {
  width: 100%;
  border-collapse: collapse;
  color: black;
  border-spacing: 0;
  padding-right: 10px;
}

th {
  width: 100%;
  padding: 10px;
  cursor: pointer;
  text-align: center;
  border: 2px solid #9dc3ea;
  background: #92a9ce;
}

td {
  width: 100%;
  text-align: left;
  border: 1px solid #9dc3ea;
  font-size: 16x;
  padding: 15px;
}

tr {
  background: #d2ddef;
}

tr:nth-child(even) {
  background-color: aquamarine;
}

label {
  color: #2196F3;
}

button,
input[type="submit"] {
  background: #6488c1;
  font-size: 20px;
  margin-top: 10px;
  padding: 15px;
  width: 200px;
  border: 1px solid #4a648e;
}
button:hover,
input[type="submit"]:hover {
  cursor: pointer;
  background: #819ecd;
  box-shadow: 2px 0px 2px 0px black;
}

input[type="search"],
input[type="text"],
input[type="number"] {
  color: #333;
  width: 200px;
  margin: 10px;
  padding: 10px;
}

#content {
  color: #333;
  margin: 0 auto;
  padding-bottom: 50px;
  max-width: 800px;
}
#content #nav-menu {
  font-size: 20px;
}
#content #nav-menu details h3 {
  text-align: center;
}
#content #nav-menu details summary {
  cursor: pointer;
  background: #9dc3ea;
  margin: 6px 0px 8px 0px;
  padding: 15px;
  box-shadow: 3px 0px 3px 0px black;
}
#content #nav-menu details summary:hover {
  background: #39c2d7;
  color: black;
}
#content #nav-menu details summary::-webkit-details-marker {
  display: none;
}
#content #nav-menu details #add-data {
  text-align: center;
  margin-bottom: 30px;
}
#content #nav-menu details #add-data .add-data-inputs {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
}
#content #nav-menu details #del-data {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  margin-bottom: 30px;
}
#content #nav-menu details #del-data div {
  text-align: center;
}
#content #nav-menu details #upd-data {
  text-align: center;
  margin-bottom: 30px;
}
#content #nav-menu details #upd-data .upd-data-field {
  margin-top: 15px;
  display: flex;
  flex-flow: wrap;
  justify-content: center;
}
#content #nav-menu details #search {
  text-align: center;
  margin: 10px;
}
#content #nav-menu details #search input {
  margin: 0;
}
#content #nav-menu details #search button {
  margin-left: -6px;
  width: 150px;
  font-size: 15px;
  padding: 10px;
  color: white;
  border-left: none;
}
#content #nav-menu details #search-tbl-div {
  margin-bottom: 30px;
}
#content #nav-menu details .bar {
  margin: 20px;
  text-align: center;
  color: #333;
  background-color: #9dc3ea;
  border: 1px solid #4990d8;
}
